body {
  margin: 0;
  overflow: hidden;
  background-color: aquamarine;
}

::-webkit-scrollbar {
  display: none;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

.startmeny {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.startButton {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  gap: 15px;

  justify-items: center;
  align-items: center;

  background-color: rgb(11, 158, 104);
  font-size: 150%;
  padding: 20px;
  border-radius: 10px;
}

button {
  background-color: aqua;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
}

.selected {
  background-color: green;
  color: white;
}

#startgame {
  grid-column: 2;
  grid-row: 1;
}

#easyBtn {
  grid-column: 1;
  grid-row: 2;
}

#mediumBtn {
  grid-column: 2;
  grid-row: 2;
}

#hardBtn {
  grid-column: 3;
  grid-row: 2;
}

#icemode {
  grid-column: 2;
  grid-row: 3;
}